.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.statusGrid {
  display: grid;
  gap: 1rem;
}

.statusCardContent {
  padding-top: 0;
}

@media (min-width: 768px) {
  .statusGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
